{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <h2 class="cta__title">{{ this.title }}</h2>
  {{ this.body }}
  <h3 class="cta__title" id="download">Download</h3>
  <p class="cta__text">GhostWriter is in alpha at the moment. You might happen to find some bugs. Please report them by opening an <a href="https://github.com/hiromipaw/ghostwriter/issues/new" class="link-light">issue</a> on GitHub.</p>

  <div class="downloads">
    <a href="#" class="button hero__button button-round"><i class="fab fa-apple"></i></a>
    <a href="#" class="button hero__button button-round"><i class="fab fa-ubuntu"></i></a>
    <a href="#" class="button hero__button button-round"><i class="fas fa-file-code"></i></a>
  </div>
{% endblock %}
